# test logs and outputs
*test[0-9][0-9][0-9]
*test*.s
regression/mtest*.log
regression/test*.log
generated[0-9]*
generated*.s
generated*.log
regression/performance/*.log
# build
_build/
# emacs
*~
\#*
# exec
rc.byte
rc.native
runtime/runtime.o
# cpp
runtime/builtins.o
runtime/collector.o
runtime/libruntime.a