# test logs and outputs
*test[0-9]*
*test*.s
*test*.log
generated[0-9]*
generated*.s
generated*.log
regression/performance/data.gnuplot
regression/performance/names.data
regression/performance/*.log
# build
_build/
# emacs
*~
\#*
# exec
rc.byte
rc.native
runtime/runtime.o